.Navbar {
  background: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem 2rem 2rem;
}

.logo a {
  color: #090909;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
}

.CustomDropDown button {
  background: transparent !important;
  border: none;
  box-shadow: none !important;
}

.CustomDropDown.dropdown-toggle {
  background: yellow;
}

.CustomDropDown button::after {
  border-top: 0.5em solid #ff0000;
}

.CustomDropDown button:hover {
  background: transparent;
}

.createEvent button {
  background: #ff0000;
  color: #fff;
  border: 1px solid #ff0000;
  border-radius: 50px;
  font-size: 11px;
  padding: 5px 15px;
  font-weight: 600;
  outline: none;
}

.headerRightContent {
  display: flex;
  align-items: baseline;
}

.createEvent,
.Message,
.Notification {
  margin-right: 10px;
}
