.VideoSection {
  background: #1e1e1e;
  padding: 150px;
  border-radius: 20px;
  position: relative;
}

.VideoSectionEmpty {
  background: #1e1e1e;
  /* border-radius: 20px; */
}

.MainVideoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
}

.MainVideoWrapperTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 0px;
}

.MainVideoWrapperOne {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  grid-gap: 0px;
}

.MainVideoWrapperThree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 0px;
}

.video-logo {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.MainVideoWrapperFive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 0px;
}

.MainVideoFourPerson {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.videoMembersBottom {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.videoToggle {
  border: 2px solid #ccc;
  padding: 2px;
}

.Video {
  border-radius: 20px;
}
